openapi: 3.1.0
info:
  title: Memo Bank API
  description: |
    **Welcome!** You can use our [Premium Bank API](https://memo.bank/produit/api/)  to check your company’s accounts, fetch your transactions, make SEPA transfers,  initiate SEPA direct debit collections, create virtual IBANs, and access most of Memo Bank features.
    > info
    > If you are a **third-party payment service provider** complying with PSD2, you may be more interested in our [NextGenPSD2 API](https://docs-nextgenpsd2.api.memo.bank).
  version: "2.0"
servers:
- url: https://api.memo.bank
  description: Production
- url: https://api.sandbox.memo.bank
  description: Sandbox
tags:
- name: Accounts
  description: |
    Accounts are any bank account that your company owns: current account, ring-fenced account,  settlement account, specially dedicated account, trust account, meal voucher account,  booster account, etc. They boil down to a list of [transactions](#endpoint-transactions) and a balance.
- name: IBANs
  description: |
    IBANs are identifiers for bank accounts. There are two types of IBANs at Memo Bank:
    * Main IBANs, which act as primary identifiers for a bank account.  There is exactly one main IBAN per bank account. You cannot delete it. When an account is closed, its main IBAN remains active only for  incoming transactions, which will be automatically rerouted to the  main account.
    * Virtual IBANs, which are aliases for the main IBAN. They can be created, deactivated, and reactivated at will. When the account they are attached to  is closed, they get reattached to the main account.

    All operations on IBANs are synchronous and effective immediately,  meaning that you can use a new IBAN to send or receive money right  after its creation.
- name: Account assessments
  description: |
    Account assessments allow you to assess SEPA counterparty accounts before initiating transactions with them. An assessment provides:

    * **Risk indicators**: Detection of fraudulent activity, suspicious patterns, and other risk signals.
    * **Identification matching**: Verify that the account name or other identifiers match the value known by the account holder.
    * **Account reachability**: Information about which payment schemes are supported by the account holder.

    Account assessments are processed asynchronously: you need to listen to `account_assessment_completed` and `account_assessment_failed` webhook  events to know when its time to retrieve the assessment results.

    This feature is subject to specific pricing, please reach out to your banker to get more information.
- name: Transactions
  description: |
    Transactions are any debit and credit operations on an account.

    <img src="https://assets.memo.bank/memobankapi/transactions-lifecycle-api-v2.png" alt="Transactions lifecycle" width="750">

    Note that the status of the transaction indicates whether or not it affects the account’s available balance. `debit` transactions impact the balance as soon as they reach the `authorized` state. `credit` transactions impact it only when their status turns to `confirmed`.
- name: Transfers
  description: |
    Transfers are transfers within the SEPA-zone, including SEPA standard transfers, SEPA instant transfers and Target 2 transfers.

    They can be initiated asynchronously, one by one or in bulk.

    They have a similar lifecycle compared to [transactions](#endpoint-transactions)  but note that there are some minor differences for the `canceled`  and `failed` states.

    <img src="https://assets.memo.bank/memobankapi/transfers-lifecycle-api-v3.png" alt="Transfers lifecycle" width="750">
- name: Wire Transfers
  description: "Wire transfers are transfers going through Swift. They allow you to\
    \ send funds outside the SEPA network and to transfer money in foreign currencies.\n\
    \nInitiating a wire transfer may require you to upload a supporting document.\
    \ In such case the transfer will have a `pending_attachment_required` status and\
    \ you'll receive an event `wire_transfer_attachment_required` on your webhook.\
    \ \n\nIf no document is required but you still want to attach one to your transaction,\
    \ use the [attachments](#endpoint-attachments) endpoints.\n\n<img src=\"https://assets.memo.bank/memobankapi/wire-transfers-lifecycle-api-v1.png\"\
    \ alt=\"Wire transfers lifecycle\" width=\"750\">\n"
- name: Collections
  description: "Collections are SEPA direct debit collections, including SEPA CORE\
    \ direct debits and SEPA B2B direct debits. \n\nTo initiate a direct debit, a\
    \ **mandate** signed by the debtor is required.  You have the option to use our\
    \ [signature request](endpoint-mandate-signature-requests)  workflow, which handles\
    \ this signature, or you can choose to manage it  yourself. Whichever method you\
    \ select, you will only need to provide  the mandate information when setting\
    \ up the direct debit, not the signed  document itself.\n\nThey can be initiated\
    \ asynchronously, one by one or in bulk. \n\nUnlike [transfers](#endpoint-transfers),\
    \ collections can only be scheduled for a date in the future.  As a result, their\
    \ lifecycle is also simplified.\n\n<img src=\"https://assets.memo.bank/memobankapi/collections-lifecycle-api-v3.png\"\
    \ alt=\"Collections lifecycle\" width=\"750\">\n"
- name: Mandate signature requests
  description: |
    Mandate signature requests are a way to prepare and send collection mandates for signature. The mandate debtor  receives an email with a link so they can complete and sign the mandate. Once it has been signed, the resulting  mandate becomes immediately available for making [collections](#endpoint-collections). Dedicated  [webhook events](#webhook-webhook) can be used to track mandate signature requests state changes.
- name: Attachments
  description: |
    Documents attached to transactions.
- name: Users
  description: |
    The members of your Memo Bank workspace.
- name: Webhook
  description: |
    # Events

    When something interesting happens on your Memo Bank workspace, such as a new transaction being created, Memo Bank can reach out to your application so that you can take action (such as sending an e-mail alert about the transaction to your user) automatically.

    The first step is to add a webhook to your application in the [`API`](https://client.memo.bank/api) section of your Memo Bank workspace. As part of this, you will have to provide a URL on your own servers. Memo Bank will then send HTTPS requests to that URL when there is an activity on your Memo Bank workspace.

    Note that even if webhooks are setup within an application, events will  be received even when they result from actions triggered on the Memo Bank  webapp or any other application.
    # Consuming events
    Individual events do not contain very much information on their own. This is by design, as the API structure can remain extremely stable and avoid difficult webhook migrations in the future as the Memo Bank API changes. If you need additional metadata, such as the amount of the transaction in the above example, make a `GET` request to the API for that information. You can use the `resource_type` and `resource_id` to determine what resource to fetch from the API.
    # Failures and retries
    If your application returns anything other than a 2xx HTTP status code,  if we do not receive a response before timing out or in the case of  a network failure, we will retry the event up to 8 times with exponentially increasing backoffs.  In your webhook endpoint implementation,  we recommend you place  inbound Events into your application's own queuing system  (such as Kafka, Resque, etc) for asynchronous event processing,  and returning a 200 response from your endpoint as quickly as possible.

    Since retries may occur, your webhook endpoint must be idempotent. You should handle the possibility of receiving the same event multiple times. We recommend using the event `id` field to detect and ignore duplicate events on your side.
    # Securing your webhook endpoint (recommended)
    Memo Bank will include an `Authorization` header in each webhook request. Inside of it, you will find `Bearer <token>` with the authentication token we provided when you created the webhook on the web interface. We recommend that you check this header and reject requests with invalid token, indicating a malicious request that would not have been issued by Memo Bank.

    We also recommend that you restrict which IP addresses can call your  webhook. Here is the list of our IPv4 addresses:
    * Memo Bank Premium API (i.e. `api.memo.bank`):
      * `34.38.96.206`
      * `35.189.206.171`
      * `35.241.129.224`
      * `34.155.214.185`
      * `34.155.206.98`
      * `34.163.14.38`

    * Memo Bank Premium Sandbox API (i.e. `api.sandbox.memo.bank`):
      * `34.155.60.111`
      * `34.163.27.39`
- name: Webhooks
  description: |
    Manage webhooks for your application. Webhooks allow you to receive real-time notifications when events occur on your Memo Bank workspace.

    Please refer to the [Webhook](https://docs.api.memo.bank/group/webhook-webhook) section for more information.
- name: Sandbox
  description: |
    Sandbox only endpoints.
paths:
  /v2/account_assessments:
    post:
      tags:
      - Account assessments
      summary: Create an account assessment
      description: |-
        This endpoint allows you to assess a SEPA counterparty account by retrieving risk and fraud indicators, account capabilities and by performing IBAN and name/identification matching.

        **Scope**: `account-assessments:write`
      operationId: createAccountAssessment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountAssessment"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PendingAccountAssessment"
      security:
      - JWT: []
  /v2/account_assessments/{id}:
    get:
      tags:
      - Account assessments
      summary: Get an account assessment
      description: "**Scope**: `account-assessments:read`"
      operationId: getAccountAssessment
      parameters:
      - name: id
        in: path
        description: ID of the account assessment.
        required: true
        schema:
          type: string
          format: uuid
        example: 61ccd037-8d95-4856-89e7-b043fb84ca26
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                discriminator:
                  propertyName: status
                  mapping:
                    pending: "#/components/schemas/PendingAccountAssessment"
                    completed: "#/components/schemas/CompletedAccountAssessment"
                    failed: "#/components/schemas/FailedAccountAssessment"
                oneOf:
                - $ref: "#/components/schemas/PendingAccountAssessment"
                - $ref: "#/components/schemas/CompletedAccountAssessment"
                - $ref: "#/components/schemas/FailedAccountAssessment"
      security:
      - JWT: []
  /v2/accounts/{id}:
    get:
      tags:
      - Accounts
      summary: Get an account
      description: "**Scope**: `accounts:read`"
      operationId: getAccount
      parameters:
      - name: id
        in: path
        description: ID of the account.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
      security:
      - JWT: []
  /v2/accounts:
    get:
      tags:
      - Accounts
      summary: List all accounts
      description: "**Scope**: `accounts:read`"
      operationId: listAccounts
      parameters:
      - name: page
        in: query
        description: "Index of the requested page. Deprecated, use `page_token` instead."
        deprecated: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: page_token
        in: query
        description: "Token used to fetch a specific page, as returned by the `next_page_token`\
          \ or `prev_page_token` field of a previous response. Mutually exclusive\
          \ with `page`."
        schema:
          type: string
      - name: size
        in: query
        description: Number of elements per page in response.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPage"
      security:
      - JWT: []
  /v2/attachments:
    get:
      tags:
      - Attachments
      summary: List all attachments
      description: "**Scope**: `attachments:read`"
      operationId: listAttachments
      parameters:
      - name: transaction_id
        in: query
        description: Filter attachments by transaction.
        schema:
          type: string
          format: uuid
        example: 29883c3d-0b11-4c38-91b0-af9018cc5b14
      - name: include_deleted
        in: query
        description: "When set to true, results will include attachments that have\
          \ been deleted."
        schema:
          type: boolean
          default: false
      - name: page
        in: query
        description: "Index of the requested page. Deprecated, use `page_token` instead."
        deprecated: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: page_token
        in: query
        description: "Token used to fetch a specific page, as returned by the `next_page_token`\
          \ or `prev_page_token` field of a previous response. Mutually exclusive\
          \ with `page`."
        schema:
          type: string
      - name: size
        in: query
        description: Number of elements per page in response.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachmentPage"
      security:
      - JWT: []
    post:
      tags:
      - Attachments
      summary: Create an attachment
      description: |-
        This operation allows you to upload and attach a document to a transaction.

        **Scope**: `attachments:write`
      operationId: createAttachment
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - document
              - transaction_id
              type: object
              properties:
                document:
                  type: string
                  format: binary
                transaction_id:
                  type: string
                  description: ID of the transaction the document will be attached
                    to.
                  format: uuid
                  example: 3439bd9a-077a-4c02-8bd7-f14eadf8975b
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
      security:
      - JWT: []
  /v2/attachments/{id}:
    get:
      tags:
      - Attachments
      summary: Get an attachment
      description: |-
        This operation uses content negotiation to request either a JSON representation of the attachment, or the actual document. Check the OpenAPI specification for more details.

        **Scope**: `attachments:read`
      operationId: getAttachment
      parameters:
      - name: id
        in: path
        description: ID of the attachment.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - JWT: []
    delete:
      tags:
      - Attachments
      summary: Delete an attachment
      description: "**Scope**: `attachments:write`"
      operationId: deleteAttachment
      parameters:
      - name: id
        in: path
        description: ID of the attachment.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      responses:
        "204":
          description: No content
      security:
      - JWT: []
  /v2/collections/{id}:
    get:
      tags:
      - Collections
      summary: Get a collection
      description: "**Scope**: `collections:read`"
      operationId: getCollection
      parameters:
      - name: id
        in: path
        description: ID of the collection.
        required: true
        schema:
          type: string
          format: uuid
        example: 45195a6f-daa8-4bc1-9ac4-3979e72bd89d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collection"
      security:
      - JWT: []
    delete:
      tags:
      - Collections
      summary: Cancel a SEPA Direct Debit collection
      description: |-
        This endpoint allows you to cancel a SEPA Direct Debit collection before it has been submitted.

        Concretely a collection can only be canceled while in `scheduled` state.

        **Scope**: `collections:write`
      operationId: cancelCollection
      parameters:
      - name: id
        in: path
        description: ID of the collection.
        required: true
        schema:
          type: string
          format: uuid
        example: 45195a6f-daa8-4bc1-9ac4-3979e72bd89d
      responses:
        "200":
          description: OK
      security:
      - JWT: []
  /v2/collections:
    post:
      tags:
      - Collections
      summary: Schedule a SEPA Direct Debit collection
      description: |-
        This endpoint allows you to schedule a SEPA Direct Debit collection to be credited on one of your accounts.

        **Scope**: `collections:write`
      operationId: createCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCollection"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Collection"
      security:
      - JWT: []
  /v2/collections/bulks:
    post:
      tags:
      - Collections
      summary: Create bulk collections
      description: |-
        This endpoint allows to create up to 5000 collections with a single call. It acts exactly as if you called the `POST /v2/collections` endpoint 5000 times yourself, except you don't need to worry about rate limiting. It also allows you to get an aggregated state for this bulk.

        This endpoint does not perform the collections synchronously, a `200 OK` response means the bulk will be handled in the near future. You can either poll the `GET` endpoint or use the webhooks to follow its progress.

        Note that the completion of a bulk does not mean all collections are settled, it only means the collections were initiated (the equivalent of a call to `POST /v2/collections`).

        **Scope**: `collections:write`
      operationId: createCollectionsBulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBulkCollections"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkCollections"
      security:
      - JWT: []
  /v2/collections/bulks/{id}:
    get:
      tags:
      - Collections
      summary: Get a bulk and its current progress
      description: "**Scope**: `collections:read`"
      operationId: getCollectionsBulk
      parameters:
      - name: id
        in: path
        description: ID of the bulk.
        required: true
        schema:
          type: string
          format: uuid
        example: 6ba07619-24ff-43f3-b1f0-cdc9b06bf8a7
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkCollections"
      security:
      - JWT: []
  /v2/collections/bulks/{id}/collections:
    get:
      tags:
      - Collections
      summary: Get the status of individual collection in a bulk
      description: "**Scope**: `collections:read`"
      operationId: getCollectionsBulkItems
      parameters:
      - name: id
        in: path
        description: ID of the bulk.
        required: true
        schema:
          type: string
          format: uuid
        example: 6ba07619-24ff-43f3-b1f0-cdc9b06bf8a7
      - name: status
        in: query
        description: Filter collections by status.
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - pending
            - scheduled
            - confirmed
            - returned
            - canceled
            - failed
      - name: page
        in: query
        description: "Index of the requested page. Deprecated, use `page_token` instead."
        deprecated: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: page_token
        in: query
        description: "Token used to fetch a specific page, as returned by the `next_page_token`\
          \ or `prev_page_token` field of a previous response. Mutually exclusive\
          \ with `page`."
        schema:
          type: string
      - name: size
        in: query
        description: Number of elements per page in response.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionPage"
      security:
      - JWT: []
  /v2/ibans:
    get:
      tags:
      - IBANs
      summary: List all IBANs
      description: "**Scope**: `ibans:read`"
      operationId: listIbans
      parameters:
      - name: account_id
        in: query
        description: ID of the account.
        schema:
          type: string
          format: uuid
        example: 29883c3d-0b11-4c38-91b0-af9018cc5b14
      - name: include_deleted
        in: query
        description: "When set to true, results will include IBANs that have been\
          \ deleted."
        schema:
          type: boolean
          default: false
      - name: page
        in: query
        description: "Index of the requested page. Deprecated, use `page_token` instead."
        deprecated: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: page_token
        in: query
        description: "Token used to fetch a specific page, as returned by the `next_page_token`\
          \ or `prev_page_token` field of a previous response. Mutually exclusive\
          \ with `page`."
        schema:
          type: string
      - name: size
        in: query
        description: Number of elements per page in response.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IbanPage"
      security:
      - JWT: []
    post:
      tags:
      - IBANs
      summary: Create a virtual IBAN
      description: "**Scope**: `ibans:write`"
      operationId: createIban
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIban"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Iban"
      security:
      - JWT: []
  /v2/ibans/{id}:
    get:
      tags:
      - IBANs
      summary: Get an IBAN
      description: "**Scope**: `ibans:read`"
      operationId: getIban
      parameters:
      - name: id
        in: path
        description: ID of the IBAN.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Iban"
      security:
      - JWT: []
    delete:
      tags:
      - IBANs
      summary: Delete an IBAN
      description: |-
        This operation permanently deletes an IBAN from your account.

        **Scope**: `ibans:write`
      operationId: deleteIban
      parameters:
      - name: id
        in: path
        description: ID of the IBAN.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      responses:
        "204":
          description: No content
      security:
      - JWT: []
    patch:
      tags:
      - IBANs
      summary: Update an IBAN
      description: |-
        This operation allows you to update an IBAN name or change its status. Only provided parameters have an effect on the current state of an IBAN.

        **Scope**: `ibans:write`
      operationId: updateIban
      parameters:
      - name: id
        in: path
        description: ID of the IBAN.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateIban"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Iban"
      security:
      - JWT: []
  /v2/mandate_signature_requests:
    get:
      tags:
      - Mandate signature requests
      summary: List the mandate signature requests
      description: "**Scope**: `mandate-signature-requests:read`"
      operationId: listMandateSignatureRequests
      parameters:
      - name: status
        in: query
        description: Filter mandate signature requests by status.
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - sent
            - expired
            - completed
      - name: page
        in: query
        description: "Index of the requested page. Deprecated, use `page_token` instead."
        deprecated: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: page_token
        in: query
        description: "Token used to fetch a specific page, as returned by the `next_page_token`\
          \ or `prev_page_token` field of a previous response. Mutually exclusive\
          \ with `page`."
        schema:
          type: string
      - name: size
        in: query
        description: Number of elements per page in response.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MandateSignatureRequestPage"
      security:
      - JWT: []
    post:
      tags:
      - Mandate signature requests
      summary: Create a new mandate signature request
      description: |-
        An email will be sent to the mandate debtor so they can complete and sign the collection mandate.

        **Scope**: `mandate-signature-requests:write`
      operationId: createMandateSignatureRequest
      requestBody:
        content:
          application/json:
            schema:
              type: object
              discriminator:
                propertyName: mode
                mapping:
                  email: "#/components/schemas/CreateEmailMandateSignatureRequest"
                  redirect: "#/components/schemas/CreateRedirectMandateSignatureRequest"
              oneOf:
              - $ref: "#/components/schemas/CreateEmailMandateSignatureRequest"
              - $ref: "#/components/schemas/CreateRedirectMandateSignatureRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                required:
                - debtor_email
                - id
                - is_deleted
                - language
                - mode
                - reference
                - scheme
                - status
                type: object
                properties:
                  reference:
                    pattern: "^[A-Za-z0-9+?/\\-:().,'\\s]{1,35}$"
                    type: string
                    description: The unique mandate reference.
                    example: ABC123DEF
                  id:
                    type: string
                    description: ID of the mandate signature request.
                    format: uuid
                    example: 61b05c4f-3f72-4951-8c30-a2a9faaa5184
                  scheme:
                    type: string
                    description: The mandate scheme.
                    example: core
                    enum:
                    - b2b
                    - core
                  language:
                    type: string
                    description: The language used for the email and signature page
                      for the debtor.
                    example: french
                    default: french
                    enum:
                    - french
                    - english
                  status:
                    type: string
                    description: Current status of the mandate signature request.
                    example: sent
                    enum:
                    - sent
                    - expired
                    - completed
                  mode:
                    type: string
                    description: Define the delivery strategy of this signature request.
                    enum:
                    - email
                    - redirect
                  contract_reference:
                    type: string
                    description: The contract reference attached to the mandate. This
                      is optional metadata.
                    example: CUST-1234
                  is_deleted:
                    type: boolean
                    description: Whether or not this mandate signature request has
                      been deleted.
                    example: false
                  debtor:
                    $ref: "#/components/schemas/MandateSignatureRequestDebtor"
                  debtor_email:
                    type: string
                    description: The email address of the debtor.
                    example: foo@bar.com
                discriminator:
                  propertyName: mode
                  mapping:
                    email: "#/components/schemas/EmailMandateSignatureRequest"
                    redirect: "#/components/schemas/RedirectMandateSignatureRequest"
                oneOf:
                - $ref: "#/components/schemas/EmailMandateSignatureRequest"
                - $ref: "#/components/schemas/RedirectMandateSignatureRequest"
      security:
      - JWT: []
  /v2/mandate_signature_requests/{id}:
    get:
      tags:
      - Mandate signature requests
      summary: Get a mandate signature request
      description: "**Scope**: `mandate-signature-requests:read`"
      operationId: getMandateSignatureRequest
      parameters:
      - name: id
        in: path
        description: ID of the mandate signature request.
        required: true
        schema:
          type: string
          format: uuid
        example: 45195a6f-daa8-4bc1-9ac4-3979e72bd89d
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                required:
                - debtor_email
                - id
                - is_deleted
                - language
                - mode
                - reference
                - scheme
                - status
                type: object
                properties:
                  reference:
                    pattern: "^[A-Za-z0-9+?/\\-:().,'\\s]{1,35}$"
                    type: string
                    description: The unique mandate reference.
                    example: ABC123DEF
                  id:
                    type: string
                    description: ID of the mandate signature request.
                    format: uuid
                    example: 61b05c4f-3f72-4951-8c30-a2a9faaa5184
                  scheme:
                    type: string
                    description: The mandate scheme.
                    example: core
                    enum:
                    - b2b
                    - core
                  language:
                    type: string
                    description: The language used for the email and signature page
                      for the debtor.
                    example: french
                    default: french
                    enum:
                    - french
                    - english
                  status:
                    type: string
                    description: Current status of the mandate signature request.
                    example: sent
                    enum:
                    - sent
                    - expired
                    - completed
                  mode:
                    type: string
                    description: Define the delivery strategy of this signature request.
                    enum:
                    - email
                    - redirect
                  contract_reference:
                    type: string
                    description: The contract reference attached to the mandate. This
                      is optional metadata.
                    example: CUST-1234
                  is_deleted:
                    type: boolean
                    description: Whether or not this mandate signature request has
                      been deleted.
                    example: false
                  debtor:
                    $ref: "#/components/schemas/MandateSignatureRequestDebtor"
                  debtor_email:
                    type: string
                    description: The email address of the debtor.
                    example: foo@bar.com
                discriminator:
                  propertyName: mode
                  mapping:
                    email: "#/components/schemas/EmailMandateSignatureRequest"
                    redirect: "#/components/schemas/RedirectMandateSignatureRequest"
                oneOf:
                - $ref: "#/components/schemas/EmailMandateSignatureRequest"
                - $ref: "#/components/schemas/RedirectMandateSignatureRequest"
      security:
      - JWT: []
    delete:
      tags:
      - Mandate signature requests
      summary: Delete a mandate signature request
      description: |-
        A mandate signature request can be deleted in case the collection mandate no longer needs to be completed and signed. This action is only possible while the mandate signature request is not in `completed` status.

        **Scope**: `mandate-signature-requests:write`
      operationId: deleteMandateSignatureRequest
      parameters:
      - name: id
        in: path
        description: ID of the mandate signature request.
        required: true
        schema:
          type: string
          format: uuid
        example: 45195a6f-daa8-4bc1-9ac4-3979e72bd89d
      responses:
        "200":
          description: OK
      security:
      - JWT: []
  /v2/mandate_signature_requests/{id}/renewals:
    post:
      tags:
      - Mandate signature requests
      summary: Renew a mandate signature request
      description: |-
        A mandate signature request can be renewed in case it has expired before the collection mandate could be completed and signed. This action is only possible while the mandate signature request is in `expired` status.

        **Scope**: `mandate-signature-requests:write`
      operationId: renewMandateSignatureRequest
      parameters:
      - name: id
        in: path
        description: ID of the mandate signature request.
        required: true
        schema:
          type: string
          format: uuid
        example: 45195a6f-daa8-4bc1-9ac4-3979e72bd89d
      responses:
        "200":
          description: OK
      security:
      - JWT: []
  /v2/sandbox/incoming_collections:
    post:
      tags:
      - Sandbox
      summary: Simulate an incoming SEPA collection
      description: This endpoint allows you to simulate an incoming SEPA collection
        to your account.
      operationId: createIncomingCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIncomingCollection"
        required: true
      responses:
        "204":
          description: No content
      security:
      - JWT: []
      servers:
      - url: https://api.sandbox.memo.bank
        description: Sandbox
  /v2/sandbox/incoming_transfers:
    post:
      tags:
      - Sandbox
      summary: Simulate an incoming SEPA transfer
      description: This endpoint allows you to simulate an incoming SEPA transfer
        to your account.
      operationId: createIncomingTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIncomingTransfer"
        required: true
      responses:
        "204":
          description: No content
      security:
      - JWT: []
      servers:
      - url: https://api.sandbox.memo.bank
        description: Sandbox
  /v2/transactions/{id}:
    get:
      tags:
      - Transactions
      summary: Get a transaction
      description: "**Scope**: `transactions:read`"
      operationId: getTransaction
      parameters:
      - name: id
        in: path
        description: ID of the transaction.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
      security:
      - JWT: []
  /v2/transactions:
    get:
      tags:
      - Transactions
      summary: List all transactions
      description: "**Scope**: `transactions:read`"
      operationId: listTransactions
      parameters:
      - name: account_id
        in: query
        description: Filter transactions by account.
        schema:
          type: string
          format: uuid
        example: 29883c3d-0b11-4c38-91b0-af9018cc5b14
      - name: page
        in: query
        description: "Index of the requested page. Deprecated, use `page_token` instead."
        deprecated: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: page_token
        in: query
        description: "Token used to fetch a specific page, as returned by the `next_page_token`\
          \ or `prev_page_token` field of a previous response. Mutually exclusive\
          \ with `page`."
        schema:
          type: string
      - name: size
        in: query
        description: Number of elements per page in response.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      - name: start_date
        in: query
        description: "Filter transactions by execution date (inclusive greater than),\
          \ in ISO8601 format."
        schema:
          type: string
          format: date-time
        example: 2021-09-01T12:30:00Z
      - name: end_date
        in: query
        description: "Filter transactions by execution date (exclusive lower than),\
          \ in ISO8601 format."
        schema:
          type: string
          format: date-time
        example: 2021-09-30T12:30:00Z
      - name: reference
        in: query
        description: Filter transactions by reference.
        schema:
          type: string
          format: uuid
        example: 0c734fd7-4753-424e-85f3-0b4e3590ee1c
      - name: local_iban
        in: query
        description: Filter transactions by local IBAN. Allows for example to list
          all incoming **and** outgoing transactions that passed through a given virtual
          IBAN.
        schema:
          type: string
      - name: batch_id
        in: query
        description: Filter transactions by transaction batch.
        schema:
          type: string
          format: uuid
        example: 0c734fd7-4753-424e-85f3-0b4e3590ee1c
      - name: custom_id
        in: query
        description: Filter transactions by custom ID.
        schema:
          type: string
        example: 637406efda8534de8c0e
      - name: order_by
        in: query
        description: Sort transactions in ascending or descending order.
        schema:
          type: string
          default: -execution_date
          enum:
          - execution_date
          - -execution_date
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionPage"
      security:
      - JWT: []
  /v2/transfers/{id}:
    get:
      tags:
      - Transfers
      summary: Get a transfer
      description: "**Scope**: `transfers:read`"
      operationId: getTransfer
      parameters:
      - name: id
        in: path
        description: ID of the transfer.
        required: true
        schema:
          type: string
          format: uuid
        example: aa431134-bdc4-416e-8b7e-58a39e389707
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferV2"
      security:
      - JWT: []
    delete:
      tags:
      - Transfers
      summary: Cancel a SEPA transfer
      description: |-
        This endpoint allows you to cancel a SEPA transfer before its execution has actually started.

        Concretely a transfer can be canceled while in `scheduled` or `authorized` state. However, attempting to cancel a transfer in `authorized` state may result in a `transfer_not_cancelable` error if the transfer has already been sent to the creditor's bank. For the same reason, instant transfers cannot be canceled at all.

        **Scope**: `transfers:write`
      operationId: cancelTransfer
      parameters:
      - name: id
        in: path
        description: ID of the transfer.
        required: true
        schema:
          type: string
          format: uuid
        example: aa431134-bdc4-416e-8b7e-58a39e389707
      responses:
        "200":
          description: OK
      security:
      - JWT: []
  /v2/transfers:
    post:
      tags:
      - Transfers
      summary: Initiate a SEPA transfer
      description: |-
        This endpoint allows you to initiate a SEPA transfer from your account.

        **Scope**: `transfers:write`
      operationId: createTransferV2
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTransferV2"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferV2"
      security:
      - JWT: []
  /v2/transfers/bulks:
    post:
      tags:
      - Transfers
      summary: Create bulk transfers
      description: |-
        This endpoint allows to create up to 5000 transfers with a single call. It acts exactly as if you called the `POST /v2/transfers` endpoint 5000 times yourself, except you don't need to worry about rate limiting. It also allows you to get an aggregated state for this bulk.

        This endpoint does not perform the transfers synchronously, a `200 OK` response means the bulk will be handled in the near future. You can either poll the `GET` endpoint or use the webhooks to follow its progress.

        Note that the completion of a bulk does not mean all transfers are settled, it only means the transfers were initiated (the equivalent of a call to `POST /v2/transfers`).

        **Scope**: `transfers:write`
      operationId: createTransfersBulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBulkTransfers"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkTransfers"
      security:
      - JWT: []
  /v2/transfers/{id}/proof:
    get:
      tags:
      - Transfers
      summary: Generate a proof of transfer
      description: |-
        Proofs can only be generated for confirmed transfers.

        **Scope**: `transfers:read`
      operationId: getProofOfTransfer
      parameters:
      - name: id
        in: path
        description: ID of the transfer.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - JWT: []
  /v2/transfers/bulks/{id}:
    get:
      tags:
      - Transfers
      summary: Get a bulk and its current progress
      description: "**Scope**: `transfers:read`"
      operationId: getTransfersBulk
      parameters:
      - name: id
        in: path
        description: ID of the bulk.
        required: true
        schema:
          type: string
          format: uuid
        example: 6ba07619-24ff-43f3-b1f0-cdc9b06bf8a7
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkTransfers"
      security:
      - JWT: []
  /v2/transfers/bulks/{id}/transfers:
    get:
      tags:
      - Transfers
      summary: Get the status of individual transfers in a bulk
      description: "**Scope**: `transfers:read`"
      operationId: getTransfersBulkItems
      parameters:
      - name: id
        in: path
        description: ID of the bulk.
        required: true
        schema:
          type: string
          format: uuid
        example: 6ba07619-24ff-43f3-b1f0-cdc9b06bf8a7
      - name: status
        in: query
        description: Filter transfers by status.
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - pending
            - scheduled
            - authorized
            - confirmed
            - returned
            - canceled
            - failed
      - name: page
        in: query
        description: "Index of the requested page. Deprecated, use `page_token` instead."
        deprecated: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: page_token
        in: query
        description: "Token used to fetch a specific page, as returned by the `next_page_token`\
          \ or `prev_page_token` field of a previous response. Mutually exclusive\
          \ with `page`."
        schema:
          type: string
      - name: size
        in: query
        description: Number of elements per page in response.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferV2Page"
      security:
      - JWT: []
  /v2/webhooks:
    get:
      tags:
      - Webhooks
      summary: List all webhooks
      description: "**Scope**: `webhooks:read`"
      operationId: listWebhooks
      parameters:
      - name: page
        in: query
        description: "Index of the requested page. Deprecated, use `page_token` instead."
        deprecated: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: page_token
        in: query
        description: "Token used to fetch a specific page, as returned by the `next_page_token`\
          \ or `prev_page_token` field of a previous response. Mutually exclusive\
          \ with `page`."
        schema:
          type: string
      - name: size
        in: query
        description: Number of elements per page in response.
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookPage"
      security:
      - JWT: []
    post:
      tags:
      - Webhooks
      summary: Create a webhook
      description: "**Scope**: `webhooks:write`"
      operationId: createWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhook"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
      security:
      - JWT: []
  /v2/webhooks/{id}:
    get:
      tags:
      - Webhooks
      summary: Get a webhook
      description: "**Scope**: `webhooks:read`"
      operationId: getWebhook
      parameters:
      - name: id
        in: path
        description: ID of the webhook.
        required: true
        schema:
          type: string
          format: uuid
        example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
      security:
      - JWT: []
    delete:
      tags:
      - Webhooks
      summary: Delete a webhook
      description: "**Scope**: `webhooks:write`"
      operationId: deleteWebhook
      parameters:
      - name: id
        in: path
        description: ID of the webhook.
        required: true
        schema:
          type: string
          format: uuid
        example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      responses:
        "204":
          description: No Content
      security:
      - JWT: []
  /v2/wire_transfers:
    post:
      tags:
      - Wire Transfers
      summary: Initiate a wire transfer
      description: |-
        This endpoint allows you to initiate a wire transfer from your account.

        **Scope**: `wire-transfers:write`
      operationId: createWireTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWireTransfer"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WireTransfer"
      security:
      - JWT: []
  /v2/wire_transfers/{id}/attachments:
    post:
      tags:
      - Wire Transfers
      summary: Create an attachment to a wire transfer
      description: |-
        This operation allows you to upload and attach a document to a wire transfer when its status is `pending_attachment_required`.

        **Scope**: `wire-transfers:write`
      operationId: createWireTransferAttachment
      parameters:
      - name: id
        in: path
        description: ID of the wire transfer.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - document
              type: object
              properties:
                document:
                  type: string
                  format: binary
      responses:
        "201":
          description: Created
      security:
      - JWT: []
  /v2/wire_transfers/{id}/proof:
    get:
      tags:
      - Wire Transfers
      summary: Generate a proof of wire transfer
      description: |-
        Proofs can only be generated for confirmed wire transfers.

        **Scope**: `wire-transfers:read`
      operationId: getProofOfWireTransfer
      parameters:
      - name: id
        in: path
        description: ID of the wire transfer.
        required: true
        schema:
          type: string
          format: uuid
        example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      security:
      - JWT: []
  /v2/wire_transfers/{id}:
    get:
      tags:
      - Wire Transfers
      summary: Get a wire transfer
      description: "**Scope**: `wire-transfers:read`"
      operationId: getWireTransfer
      parameters:
      - name: id
        in: path
        description: ID of the wire transfer.
        required: true
        schema:
          type: string
          format: uuid
        example: aa431134-bdc4-416e-8b7e-58a39e389707
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WireTransfer"
      security:
      - JWT: []
components:
  schemas:
    PendingAccountAssessment:
      required:
      - iban
      - id
      - status
      type: object
      allOf:
      - $ref: "#/components/schemas/AccountAssessmentDiscriminator"
    CreateAccountAssessment:
      required:
      - iban
      type: object
      properties:
        iban:
          pattern: "^[A-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}$"
          type: string
          description: IBAN of the account to assess.
          example: FR7617338000014606038580616
        identifications:
          type: array
          description: List of identifications to match against the account.
          items:
            $ref: "#/components/schemas/Identification"
          default: []
    Identification:
      type: object
      discriminator:
        propertyName: type
        mapping:
          name: "#/components/schemas/NameIdentification"
          siren: "#/components/schemas/SirenIdentification"
          lei: "#/components/schemas/LeiIdentification"
      oneOf:
      - $ref: "#/components/schemas/NameIdentification"
      - $ref: "#/components/schemas/SirenIdentification"
      - $ref: "#/components/schemas/LeiIdentification"
    LeiIdentification:
      required:
      - type
      - value
      type: object
      allOf:
      - $ref: "#/components/schemas/IdentificationDiscriminator"
      - type: object
        properties:
          value:
            pattern: "^[0-9A-Z]{18}[0-9]{2}$"
            type: string
            description: LEI to match.
            example: 984500F8B951A45B4034
    NameIdentification:
      required:
      - type
      - value
      type: object
      allOf:
      - $ref: "#/components/schemas/IdentificationDiscriminator"
      - type: object
        properties:
          value:
            maxLength: 140
            minLength: 1
            type: string
            description: Name to match.
            example: John Doe
    SirenIdentification:
      required:
      - type
      - value
      type: object
      allOf:
      - $ref: "#/components/schemas/IdentificationDiscriminator"
      - type: object
        properties:
          value:
            pattern: "^\\d{9}$"
            type: string
            description: SIREN to match.
            example: "133535310"
    AccountAssessment:
      type: object
      discriminator:
        propertyName: status
        mapping:
          pending: "#/components/schemas/PendingAccountAssessment"
          completed: "#/components/schemas/CompletedAccountAssessment"
          failed: "#/components/schemas/FailedAccountAssessment"
      oneOf:
      - $ref: "#/components/schemas/PendingAccountAssessment"
      - $ref: "#/components/schemas/CompletedAccountAssessment"
      - $ref: "#/components/schemas/FailedAccountAssessment"
    Capability:
      required:
      - can_credit
      - can_debit
      - type
      type: object
      properties:
        type:
          type: string
          description: Type of transaction.
          enum:
          - standard_transfer
          - instant_transfer
          - core_collection
          - b2b_collection
        can_debit:
          type: boolean
          description: Whether the account's financial institution supports debiting
            accounts through this scheme.
          example: true
        can_credit:
          type: boolean
          description: Whether the account's financial institution supports crediting
            accounts through this scheme.
          example: true
    CompletedAccountAssessment:
      required:
      - bic
      - capabilities
      - completed_date
      - iban
      - id
      - identification_matches
      - risk_indicators
      - status
      type: object
      allOf:
      - $ref: "#/components/schemas/AccountAssessmentDiscriminator"
      - type: object
        properties:
          bic:
            type: string
            description: BIC deduced from the IBAN.
            example: MEMOFRP2XXX
          completed_date:
            type: string
            description: Completion date of the assessment.
            format: date-time
            example: 2025-05-04T09:42:00Z
          risk_indicators:
            uniqueItems: true
            type: array
            description: |
              List of risk indicators. If an indicator is present, we advise you to proceed to further verification before initiating transactions to that account.
              Please note that an empty list does not necessarily mean the account does not pose any risk.
              We may add new indicators over time.

              - `frequent_returns`: the account is subject to frequent return requests.
              - `suspicious_activity`: the account is flagged as having a suspicious activity and is subject to frequent return requests.
              - `fraudulent_account`: the account is flagged as fraudulent.
              - `closed_account`: the account is closed.
              - `failed_identification_match`: at least one of the requested identifications did not match exactly.
            items:
              type: string
              description: |
                List of risk indicators. If an indicator is present, we advise you to proceed to further verification before initiating transactions to that account.
                Please note that an empty list does not necessarily mean the account does not pose any risk.
                We may add new indicators over time.

                - `frequent_returns`: the account is subject to frequent return requests.
                - `suspicious_activity`: the account is flagged as having a suspicious activity and is subject to frequent return requests.
                - `fraudulent_account`: the account is flagged as fraudulent.
                - `closed_account`: the account is closed.
                - `failed_identification_match`: at least one of the requested identifications did not match exactly.
              enum:
              - frequent_returns
              - suspicious_activity
              - fraudulent_account
              - closed_account
              - failed_identification_match
          identification_matches:
            type: array
            description: "List of identification matches. For each identification\
              \ given in the request, a corresponding identification match will be\
              \ present in this list."
            items:
              $ref: "#/components/schemas/IdentificationMatch"
          capabilities:
            type: array
            description: "List of transaction types supported by the account's financial\
              \ institution. Please note that if an institution supports a transaction\
              \ type, it does not necessarily mean that the account itself supports\
              \ it."
            items:
              $ref: "#/components/schemas/Capability"
    FailedAccountAssessment:
      required:
      - failure_code
      - iban
      - id
      - status
      type: object
      allOf:
      - $ref: "#/components/schemas/AccountAssessmentDiscriminator"
      - type: object
        properties:
          failure_code:
            type: string
            description: Code that represents the failure reason when the account
              assessment has failed.
            enum:
            - invalid_iban
    IdentificationMatch:
      type: object
      discriminator:
        propertyName: type
        mapping:
          name: "#/components/schemas/NameIdentificationMatch"
          siren: "#/components/schemas/SirenIdentificationMatch"
          lei: "#/components/schemas/LeiIdentificationMatch"
      oneOf:
      - $ref: "#/components/schemas/NameIdentificationMatch"
      - $ref: "#/components/schemas/SirenIdentificationMatch"
      - $ref: "#/components/schemas/LeiIdentificationMatch"
    LeiIdentificationMatch:
      required:
      - identification
      - status
      - type
      type: object
      allOf:
      - $ref: "#/components/schemas/IdentificationMatchDiscriminator"
      - type: object
        properties:
          status:
            type: string
            description: Status of the match result.
            enum:
            - match
            - no_match
            - no_answer_possible
    NameIdentificationMatch:
      required:
      - identification
      - status
      - type
      type: object
      allOf:
      - $ref: "#/components/schemas/IdentificationMatchDiscriminator"
      - type: object
        properties:
          status:
            type: string
            description: Status of the name match result.
            enum:
            - match
            - close_match
            - no_match
            - no_answer_possible
          matched_name:
            type: string
            description: "Matched name, only present when status is `close_match`\
              \ or `match`."
            example: John Doe
    SirenIdentificationMatch:
      required:
      - identification
      - status
      - type
      type: object
      allOf:
      - $ref: "#/components/schemas/IdentificationMatchDiscriminator"
      - type: object
        properties:
          status:
            type: string
            description: Status of the match result.
            enum:
            - match
            - no_match
            - no_answer_possible
    Account:
      required:
      - balance
      - currency
      - iban
      - id
      - is_main
      - name
      - status
      - type
      type: object
      properties:
        id:
          type: string
          description: ID of the account.
          format: uuid
          example: db2b50c0-a943-4eb1-a69f-fa37f112daa8
        name:
          type: string
          description: "Name of the account, as seen in the Memo Bank interface."
          example: Main account
        status:
          type: string
          description: Status of the account.
          enum:
          - active
          - closed
        balance:
          type: integer
          description: "Balance of the account, in the smallest unit of the `currency`.\
            \ It represents the **available** money on the account at the time of\
            \ the request. Note that authorized overdrafts are not included in the\
            \ balance."
          format: int64
        currency:
          type: string
          description: "Currency of the account balance, in ISO 4217 format."
          example: EUR
        iban:
          type: string
          description: Main IBAN of the account.
          example: FR7617338000017498690379033
        type:
          type: string
          description: Type of the account.
          example: current_account
          enum:
          - current_account
          - ring_fenced_account
          - ring_fenced_credit_servicer_account
          - settlement_account
          - specially_dedicated_account
          - trust_account
          - meal_voucher_account
          - booster_account
          - dedicated_liquidity_account
          - dedicated_recovery_account
          - line_item_sub_account
        is_main:
          type: boolean
          description: 'Flag indicating if this account is the main account of your
            workspace. '
    AccountPage:
      required:
      - has_next
      - has_prev
      - results
      type: object
      properties:
        results:
          type: array
          description: Elements of the page.
          items:
            $ref: "#/components/schemas/Account"
        has_prev:
          type: boolean
          description: "Flag indicating if there is a previous page. Deprecated, use\
            \ `prev_page_token` instead."
          deprecated: true
        has_next:
          type: boolean
          description: "Flag indicating if there is a next page. Deprecated, use `next_page_token`\
            \ instead."
          deprecated: true
        next_page_token:
          type: string
          description: "Token to fetch the next page, to be passed in subsequent requests\
            \ as the `page_token` query parameter. `null` when there is no next page."
          nullable: true
          example: eyJwIjozfQ
        prev_page_token:
          type: string
          description: "Token to fetch the previous page, to be passed in subsequent\
            \ requests as the `page_token` query parameter. `null` when there is no\
            \ previous page."
          nullable: true
          example: eyJwIjoxfQ
    Attachment:
      required:
      - date
      - filename
      - id
      - is_deleted
      - mime_type
      - size
      - transaction_id
      type: object
      properties:
        id:
          type: string
          description: ID of the attachment.
          format: uuid
          example: db2b50c0-a943-4eb1-a69f-fa37f112daa8
        transaction_id:
          type: string
          description: ID of the transaction this document is attached to.
          format: uuid
          example: 20588f37-0ca6-4abd-80ae-1964d601b516
        filename:
          type: string
          description: Name of the attached file.
          example: document.pdf
        size:
          type: integer
          description: Size of the attached file in bytes.
          format: int64
        mime_type:
          type: string
          description: Mime type of the attached file.
          example: application/pdf
        date:
          type: string
          description: Date at which the file has been attached to a transaction.
          format: date-time
        is_deleted:
          type: boolean
          description: Whether or not this attachment has been deleted.
    AttachmentPage:
      required:
      - has_next
      - has_prev
      - results
      type: object
      properties:
        results:
          type: array
          description: Elements of the page.
          items:
            $ref: "#/components/schemas/Attachment"
        has_prev:
          type: boolean
          description: "Flag indicating if there is a previous page. Deprecated, use\
            \ `prev_page_token` instead."
          deprecated: true
        has_next:
          type: boolean
          description: "Flag indicating if there is a next page. Deprecated, use `next_page_token`\
            \ instead."
          deprecated: true
        next_page_token:
          type: string
          description: "Token to fetch the next page, to be passed in subsequent requests\
            \ as the `page_token` query parameter. `null` when there is no next page."
          nullable: true
          example: eyJwIjozfQ
        prev_page_token:
          type: string
          description: "Token to fetch the previous page, to be passed in subsequent\
            \ requests as the `page_token` query parameter. `null` when there is no\
            \ previous page."
          nullable: true
          example: eyJwIjoxfQ
    Collection:
      required:
      - amount
      - currency
      - id
      - local_iban
      - mandate
      - reference
      - scheduled_date
      - status
      type: object
      properties:
        id:
          type: string
          description: ID of the collection.
          format: uuid
          example: 61b05c4f-3f72-4951-8c30-a2a9faaa5184
        reference:
          type: string
          description: "Unique reference, can be used to correlate with the resulting\
            \ Transaction."
          format: uuid
          example: ab004cfc-99fb-4ba9-bc9c-70982f853cb1
        amount:
          type: integer
          description: "The collection amount, in cents."
          format: int64
          example: 500
        currency:
          type: string
          description: "Currency of the amount, in ISO 4217 format."
          example: EUR
        mandate:
          $ref: "#/components/schemas/CollectionMandate"
        scheduled_date:
          type: string
          description: "The collection scheduled date, in ISO8601 format."
          format: date
          example: 2022-12-05
        local_iban:
          type: string
          description: IBAN credited or to be credited. It can be the main IBAN of
            an account or a virtual IBAN.
          example: FR6430003000509825397888D64
        account_id:
          type: string
          description: "ID of the account this collection belongs to, it can be missing\
            \ while we process it according to the local IBAN."
          format: uuid
          example: 708683cb-60f6-464a-a62f-be2e339c34aa
        status:
          type: string
          description: Current status of the collection.
          example: failed
          enum:
          - pending
          - scheduled
          - confirmed
          - returned
          - canceled
          - failed
        failure_code:
          type: string
          description: "Code that represents the failure reason when the collection\
            \ has failed:\n- `invalid_mandate_iban`: The mandate's IBAN is invalid.\n\
            - `unreachable_mandate_iban`: The mandate's IBAN is unreachable for the\
            \ given scheme.\n- `missing_debtor_address`: The debtor address is missing\
            \ and required for non-EEA SEPA countries.\n- `core_limit_exceeded`: The\
            \ limit for CORE collections was exceeded.\n- `debtor_refusal`: The debtor\
            \ has refused the collection.\n- `debtor_bank_account_closed`: The debtor's\
            \ bank account is closed.\n- `debtor_bank_insufficient_funds`: The debtor's\
            \ bank account has insufficient funds.\n- `debtor_bank_error`: The debtor's\
            \ bank sent us an error.\n- `debtor_bank_invalid_bank_details`: The debtor's\
            \ bank account does not exist or no longer exists.\n- `debtor_bank_refusal`:\
            \ The debtor's bank has refused the collection.\n- `intermediary_system_error`:\
            \ The interbank network sent us an error.\n- `memo_error`: Something went\
            \ wrong on our side.\n- `memo_refusal`: We had to reject the collection.\n\
            - `execution_failure`: Other or undefined pre-settlement execution failures.\n\
            \nThe following codes can only be present on collections initiated as\
            \ part of a bulk. \nWhen initiating a single collection, those codes will\
            \ be returned as an error response \nand the collection won’t be created\
            \ at all:\n- `account_cannot_receive_collections`: The account cannot\
            \ receive collections.\n- `current_account_not_found`: The provided local\
            \ IBAN does not exist.\n- `creditor_is_saving_account`: The provided local\
            \ IBAN is a Booster account.\n- `no_sepa_creditor_identifier`: You need\
            \ to setup a SEPA creditor identifier with your banker.\n- `mandate_info_missing`:\
            \ New mandate information must be complete.\n- `mandate_iban_mismatch`:\
            \ The mandate reference already exists but with a different IBAN.\n- `collection_to_same_account`:\
            \ The local IBAN and the debtor IBAN can not be the same.\n"
          enum:
          - invalid_mandate_iban
          - unreachable_mandate_iban
          - missing_debtor_address
          - core_limit_exceeded
          - execution_failure
          - current_account_not_found
          - no_sepa_creditor_identifier
          - creditor_is_saving_account
          - mandate_info_missing
          - mandate_iban_mismatch
          - collection_to_same_account
          - debtor_refusal
          - debtor_bank_account_closed
          - debtor_bank_error
          - debtor_bank_insufficient_funds
          - debtor_bank_invalid_bank_details
          - debtor_bank_refusal
          - intermediary_system_error
          - memo_error
          - memo_refusal
          - account_cannot_receive_collections
        message:
          type: string
          description: "Message attached to this collection, visible to all involved\
            \ parties."
          example: invoice no12345
        end_to_end_id:
          type: string
          description: "Unique identification to unambiguously identify the transaction.\
            \ This identification is passed on, unchanged, throughout the entire end-to-end\
            \ chain. It can be used for reconciliation or to link tasks relating to\
            \ the transaction."
          example: b0bfb42baa2642c2af0ca3e880fcd590
        internal_note:
          type: string
          description: "Internal note attached to this collection, visible only in\
            \ your Memo Bank workspace."
          example: phone bill
        custom_id:
          type: string
          description: Custom identifier attached to the transaction resulting from
            this collection. It is not transmitted nor visible in your Memo Bank workspace.
            It can only be retrieved or used to search for transactions via Memo Bank
            API.
          example: 637406efda8534de8c0e
        custom_metadata:
          type: string
          description: Custom metadata attached to the transaction resulting from
            this collection. It is not transmitted nor visible in your Memo Bank workspace
            and can only be retrieved via API.
          example: This is some metadata
        return_transaction_id:
          type: string
          description: "If the collection is returned, ID of the corresponding debit\
            \ transaction."
          format: uuid
          example: 94faf5c3-b76e-4173-b2e9-ed27d988a92a
    CollectionMandate:
      required:
      - reference
      - scheme
      type: object
      properties:
        reference:
          type: string
          description: The unique mandate reference.
          example: ABC123DEF
        scheme:
          type: string
          description: The mandate scheme.
          example: core
          enum:
          - b2b
          - core
      description: The SEPA Direct Debit collection mandate used.
    CollectionMandateDebtor:
      required:
      - iban
      - name
      type: object
      properties:
        name:
          maxLength: 256
          minLength: 1
          type: string
          description: Name of the debtor.
          example: John Doe
        iban:
          pattern: "^[A-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}$"
          type: string
          description: IBAN of the debtor.
          example: FR2512739000308553756377J95
        address:
          $ref: "#/components/schemas/CollectionMandateDebtorAddress"
      description: "The debtor associated with this mandate.This field is only required\
        \ in case of a new mandate. If there is an existing mandate with this reference\
        \ and scheme, all information in this field will be ignored except for the\
        \ debtor IBAN which needs to be the same as the one in the existing mandate.\
        \ Providing a different IBAN will produce a 400 error with the code `outgoing_collection_mandate_iban_mismatch`."
    CollectionMandateDebtorAddress:
      required:
      - city
      - country
      - postal_code
      - street
      type: object
      properties:
        street:
          maxLength: 256
          minLength: 1
          type: string
          description: Name of the street.
          example: rue de la Boétie
        building_number:
          maxLength: 256
          minLength: 1
          type: string
          description: Number of the building or house.
          example: "42"
        postal_code:
          maxLength: 256
          minLength: 1
          type: string
          description: Postal or zip code.
          example: "75008"
        city:
          maxLength: 256
          minLength: 1
          type: string
          description: Name of the city.
          example: Paris
        country:
          pattern: "^[A-Z]{2}$"
          type: string
          description: ISO3166-1 alpha-2 country code.
          example: FR
      description: "The debtor's address. Mandatory only when the debtor's bank —\
        \ more specifically, its BIC — is located in a non-EEA SEPA country or territory."
    CreateCollection:
      required:
      - amount
      - local_iban
      - mandate
      - scheduled_date
      type: object
      properties:
        amount:
          minimum: 1
          type: integer
          description: "Amount to be collected, in cents. The currency is always EURO."
          format: int64
          example: 500
        mandate:
          $ref: "#/components/schemas/CreateCollectionMandate"
        scheduled_date:
          type: string
          description: "The ISO8601 formatted date on which the direct debit collection\
            \ will be submitted. This date must not be in the past. If your direct\
            \ debit is scheduled to be submitted on a non-business day, it will be\
            \ effectively submitted on the next business day. The execution will then\
            \ happen on the following business day. For example, a direct debit scheduled\
            \ on a Saturday will be submitted on the following Monday and executed\
            \ on the Tuesday (assuming that both week days are business days)."
          format: date
          example: 2022-12-05
        local_iban:
          pattern: "^[A-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}$"
          type: string
          description: Existing IBAN to be credited. It can be the main IBAN of an
            account or a virtual IBAN.
          example: FR6430003000509825397888D64
        message:
          maxLength: 140
          minLength: 1
          type: string
          description: "Message attached to this collection, visible to all involved\
            \ parties."
          example: invoice no12345
        end_to_end_id:
          maxLength: 35
          minLength: 1
          pattern: "[a-zA-Z0-9\\-\\?\\:\\(\\)\\.\\,\\'\\+\\ ]{1,35}"
          type: string
          description: "Unique identification to unambiguously identify the transaction.\
            \ This identification is passed on, unchanged, throughout the entire end-to-end\
            \ chain. It can be used for reconciliation or to link tasks relating to\
            \ the transaction."
          example: b0bfb42baa2642c2af0ca3e880fcd590
        internal_note:
          maxLength: 3000
          minLength: 1
          type: string
          description: "Internal note attached to this collection, visible only in\
            \ your Memo Bank workspace."
          example: phone bill
        custom_id:
          maxLength: 256
          minLength: 1
          type: string
          description: Custom identifier that will be attached to the transaction
            resulting from this collection. It will not be transmitted nor visible
            in your Memo Bank workspace. It can only be retrieved or used to search
            for transactions via Memo Bank API.
          example: 637406efda8534de8c0e
        custom_metadata:
          maxLength: 2048
          minLength: 1
          type: string
          description: Custom metadata that will be attached to the transaction resulting
            from this collection. It will not be transmitted nor visible in your Memo
            Bank workspace and can only be retrieved via API.
          example: This is some metadata
    CreateCollectionMandate:
      required:
      - reference
      - scheme
      type: object
      properties:
        reference:
          pattern: "^[A-Za-z0-9+?/\\-:().,'\\s]{1,35}$"
          type: string
          description: The unique mandate reference.
          example: ABC123DEF
        scheme:
          type: string
          description: The mandate scheme.
          example: core
          enum:
          - b2b
          - core
        signature_date:
          type: string
          description: "The mandate signature date, in ISO8601 format. The date must\
            \ not be in the future. This field is only required in case of a new mandate.\
            \ If there is an existing mandate matching the scheme and with the same\
            \ reference, this field will be ignored."
          format: date
          example: 2022-12-01
        debtor:
          $ref: "#/components/schemas/CollectionMandateDebtor"
        contract_reference:
          maxLength: 256
          minLength: 1
          type: string
          description: "The contract reference attached to this mandate. This is optional\
            \ metadata.If there is an existing mandate matching the scheme and with\
            \ the same reference, this field will be ignored when provided."
          example: CUST-1234
      description: The SEPA Direct Debit collection mandate to be used.
    BulkCollections:
      required:
      - collections_canceled
      - collections_confirmed
      - collections_failed
      - collections_total
      - id
      - status
      type: object
      properties:
        id:
          type: string
          description: ID of the bulk.
          format: uuid
          example: fe98f29d-5165-45ff-83f9-d7aa83e970b5
        collections_total:
          type: integer
          description: Total number of collections in the bulk.
          format: int32
          example: 3000
        collections_confirmed:
          type: integer
          description: Number of collections that were processed and confirmed.
          format: int32
          example: 1552
        collections_canceled:
          type: integer
          description: Number of collections canceled before processing.
          format: int32
          example: 2
        collections_failed:
          type: integer
          description: Number of collections that were processed and failed.
          format: int32
          example: 57
        status:
          type: string
          description: Aggregated status of the bulk.
          example: pending
          enum:
          - pending
          - completed
    CreateBulkCollections:
      required:
      - collections
      type: object
      properties:
        collections:
          type: array
          description: "Collection creations to execute. There should not be more\
            \ than 5000 collections in a single bulk, and there should be at least\
            \ one."
          items:
            $ref: "#/components/schemas/CreateCollection"
    CollectionPage:
      required:
      - has_next
      - has_prev
      - results
      type: object
      properties:
        results:
          type: array
          description: Elements of the page.
          items:
            $ref: "#/components/schemas/Collection"
        has_prev:
          type: boolean
          description: "Flag indicating if there is a previous page. Deprecated, use\
            \ `prev_page_token` instead."
          deprecated: true
        has_next:
          type: boolean
          description: "Flag indicating if there is a next page. Deprecated, use `next_page_token`\
            \ instead."
          deprecated: true
        next_page_token:
          type: string
          description: "Token to fetch the next page, to be passed in subsequent requests\
            \ as the `page_token` query parameter. `null` when there is no next page."
          nullable: true
          example: eyJwIjozfQ
        prev_page_token:
          type: string
          description: "Token to fetch the previous page, to be passed in subsequent\
            \ requests as the `page_token` query parameter. `null` when there is no\
            \ previous page."
          nullable: true
          example: eyJwIjoxfQ
    Iban:
      required:
      - account_id
      - allow_collections
      - iban
      - id
      - is_deleted
      - name
      - status
      - type
      type: object
      properties:
        id:
          type: string
          description: ID of the IBAN.
          format: uuid
          example: c70bd7bc-58e0-4fdb-8c1f-70186e0de587
        account_id:
          type: string
          description: ID of the account this IBAN belongs to.
          format: uuid
          example: 29883c3d-0b11-4c38-91b0-af9018cc5b14
        iban:
          type: string
          description: Actual value of the IBAN.
          example: FR27590171083068762111832788
        name:
          type: string
          description: Name of the IBAN.
          example: customer no12345
        status:
          type: string
          description: Status of the IBAN. It determines if an IBAN accepts incoming
            or outgoing transfers.
          example: active
          enum:
          - active
          - inactive
        type:
          type: string
          description: "Flag indicating if this IBAN is the main IBAN of an account,\
            \ or a virtual IBAN. Please note that main IBANs cannot be updated or\
            \ deleted."
          example: virtual
          enum:
          - main
          - virtual
        allow_collections:
          type: boolean
          description: Whether or not this IBAN accepts incoming collections.
          example: true
        is_deleted:
          type: boolean
          description: Whether or not this IBAN has been deleted.
          example: false
    CreateIban:
      required:
      - account_id
      - name
      type: object
      properties:
        account_id:
          type: string
          description: ID of the account.
          format: uuid
          example: 29883c3d-0b11-4c38-91b0-af9018cc5b14
        name:
          type: string
          description: "Custom name of the new IBAN, as seen in the Memo Bank interface."
          example: customer no12345
        allow_collections:
          type: boolean
          description: Whether or not to accept incoming collections on this IBAN.
          default: true
    IbanPage:
      required:
      - has_next
      - has_prev
      - results
      type: object
      properties:
        results:
          type: array
          description: Elements of the page.
          items:
            $ref: "#/components/schemas/Iban"
        has_prev:
          type: boolean
          description: "Flag indicating if there is a previous page. Deprecated, use\
            \ `prev_page_token` instead."
          deprecated: true
        has_next:
          type: boolean
          description: "Flag indicating if there is a next page. Deprecated, use `next_page_token`\
            \ instead."
          deprecated: true
        next_page_token:
          type: string
          description: "Token to fetch the next page, to be passed in subsequent requests\
            \ as the `page_token` query parameter. `null` when there is no next page."
          nullable: true
          example: eyJwIjozfQ
        prev_page_token:
          type: string
          description: "Token to fetch the previous page, to be passed in subsequent\
            \ requests as the `page_token` query parameter. `null` when there is no\
            \ previous page."
          nullable: true
          example: eyJwIjoxfQ
    UpdateIban:
      type: object
      properties:
        name:
          type: string
          description: New IBAN name.
          example: customer no12345
        status:
          type: string
          description: New IBAN status.
          enum:
          - active
          - inactive
        allow_collections:
          type: boolean
          description: New value for whether or not to accept incoming collections
            on this IBAN.
        account_id:
          type: string
          description: ID of the account to which the IBAN should point.
          format: uuid
          example: 29883c3d-0b11-4c38-91b0-af9018cc5b14
    Address:
      required:
      - city
      - country
      - postal_code
      - street
      type: object
      properties:
        street:
          type: string
          description: Debtor's street name.
          example: 1 rue Rivoli
        postal_code:
          type: string
          description: Debtor's postal code.
          example: "75004"
        city:
          type: string
          description: Debtor's city.
          example: Paris
        country:
          type: string
          description: Debtor's country code.
          example: FR
      description: Debtor's address.
    EmailMandateSignatureRequest:
      required:
      - debtor_email
      - id
      - is_deleted
      - language
      - mode
      - reference
      - scheme
      - status
      type: object
      allOf:
      - $ref: "#/components/schemas/MandateSignatureRequestDiscriminator"
      - type: object
        properties:
          email_custom_message:
            type: string
            description: Custom text message included in the email sent to the debtor.
            example: "Hi John Doe, here's a collection mandate to sign."
    MandateSignatureRequest:
      type: object
      discriminator:
        propertyName: mode
        mapping:
          email: "#/components/schemas/EmailMandateSignatureRequest"
          redirect: "#/components/schemas/RedirectMandateSignatureRequest"
      oneOf:
      - $ref: "#/components/schemas/EmailMandateSignatureRequest"
      - $ref: "#/components/schemas/RedirectMandateSignatureRequest"
    MandateSignatureRequestDebtor:
      required:
      - iban
      - name
      type: object
      properties:
        name:
          type: string
          description: Debtor's name.
          example: John Doe
        iban:
          type: string
          description: Debtor's IBAN.
          example: FR2512739000308553756377J95
        address:
          $ref: "#/components/schemas/Address"
      description: Debtor information filled when the request was signed. This is
        available when the request is completed.
    RedirectMandateSignatureRequest:
      required:
      - debtor_email
      - id
      - is_deleted
      - language
      - mode
      - redirect_uri
      - reference
      - scheme
      - signature_url
      - status
      type: object
      allOf:
      - $ref: "#/components/schemas/MandateSignatureRequestDiscriminator"
      - type: object
        properties:
          signature_url:
            type: string
            description: URL the debtor must visit to sign the mandate.
            example: https://client.memo.bank/mandate/abc123
          redirect_uri:
            type: string
            description: URL the debtor is redirected to after signing.
            example: https://example.com/signed
    CreateEmailMandateSignatureRequest:
      required:
      - debtor_email
      - mode
      - reference
      - scheme
      type: object
      allOf:
      - $ref: "#/components/schemas/CreateMandateSignatureRequestDiscriminator"
      - type: object
        properties:
          email_custom_message:
            maxLength: 3000
            minLength: 1
            pattern: "^[a-zA-Zà-üÀ-Ü0-9€@&;.,?!()+\\-'’\"\\s]*$"
            type: string
            description: Custom text message that will be included in the email sent
              to the debtor.
            example: "Hi John Doe, here's a collection mandate to sign."
    CreateMandateSignatureRequest:
      type: object
      discriminator:
        propertyName: mode
        mapping:
          email: "#/components/schemas/CreateEmailMandateSignatureRequest"
          redirect: "#/components/schemas/CreateRedirectMandateSignatureRequest"
      oneOf:
      - $ref: "#/components/schemas/CreateEmailMandateSignatureRequest"
      - $ref: "#/components/schemas/CreateRedirectMandateSignatureRequest"
    CreateMandateSignatureRequestDebtor:
      type: object
      properties:
        name:
          maxLength: 256
          minLength: 1
          type: string
          description: Name of the debtor.
          example: John Doe
        iban:
          pattern: "^[A-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}$"
          type: string
          description: IBAN of the debtor.
          example: FR2512739000308553756377J95
        address:
          $ref: "#/components/schemas/CreateMandateSignatureRequestDebtorAddress"
      description: Debtor data used to prefill the signing form. All fields are optional;
        the debtor can still edit them before signing.
    CreateMandateSignatureRequestDebtorAddress:
      type: object
      properties:
        street:
          maxLength: 256
          minLength: 1
          type: string
          description: Name of the street.
          example: rue de la Boétie
        postal_code:
          maxLength: 256
          minLength: 1
          type: string
          description: Postal or zip code.
          example: "75008"
        city:
          maxLength: 256
          minLength: 1
          type: string
          description: Name of the city.
          example: Paris
        country:
          pattern: "^[A-Z]{2}$"
          type: string
          description: ISO3166-1 alpha-2 country code.
          example: FR
      description: Debtor address used to prefill the signing form. All fields are
        optional.
    CreateRedirectMandateSignatureRequest:
      required:
      - debtor_email
      - mode
      - redirect_uri
      - reference
      - scheme
      type: object
      allOf:
      - $ref: "#/components/schemas/CreateMandateSignatureRequestDiscriminator"
      - type: object
        properties:
          redirect_uri:
            maxLength: 2048
            minLength: 1
            pattern: "^https://[a-zA-Z0-9.\\-]{1,255}(:[0-9]{1,5})?(/[^\\s]*)?$"
            type: string
            description: URI to redirect the debtor after signing. Must be an absolute
              HTTPS URL.
            example: https://example.com/signed
    MandateSignatureRequestPage:
      required:
      - has_next
      - has_prev
      - results
      type: object
      properties:
        results:
          type: array
          description: Elements of the page.
          items:
            type: object
            discriminator:
              propertyName: mode
              mapping:
                email: "#/components/schemas/EmailMandateSignatureRequest"
                redirect: "#/components/schemas/RedirectMandateSignatureRequest"
            oneOf:
            - $ref: "#/components/schemas/EmailMandateSignatureRequest"
            - $ref: "#/components/schemas/RedirectMandateSignatureRequest"
        has_prev:
          type: boolean
          description: "Flag indicating if there is a previous page. Deprecated, use\
            \ `prev_page_token` instead."
          deprecated: true
        has_next:
          type: boolean
          description: "Flag indicating if there is a next page. Deprecated, use `next_page_token`\
            \ instead."
          deprecated: true
        next_page_token:
          type: string
          description: "Token to fetch the next page, to be passed in subsequent requests\
            \ as the `page_token` query parameter. `null` when there is no next page."
          nullable: true
          example: eyJwIjozfQ
        prev_page_token:
          type: string
          description: "Token to fetch the previous page, to be passed in subsequent\
            \ requests as the `page_token` query parameter. `null` when there is no\
            \ previous page."
          nullable: true
          example: eyJwIjoxfQ
    CreateIncomingCollection:
      required:
      - amount
      - local_iban
      type: object
      properties:
        amount:
          minimum: 1
          type: integer
          description: "Amount of the transfer, in cents. The currency is always EURO."
          format: int64
          example: 500
        local_iban:
          pattern: "^[A-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}$"
          type: string
          description: Existing IBAN to be used as the destination of the transfer.
            Can be the main IBAN of an account or a virtual IBAN.
          example: FR6430003000509825397888D64
        message:
          maxLength: 140
          minLength: 1
          type: string
          description: "Message attached to this transfer, visible to all involved\
            \ parties."
          example: invoice no12345
        end_to_end_id:
          maxLength: 35
          minLength: 1
[...]
